:root {
	--basicasbranco: rgba(255, 255, 255, 1);
	--colors-overlays-default: rgba(0, 0, 0, 0.2);
}

/*
To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-colors-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`
*/

[data-colors-mode="light"] {
	--colors-overlays-default: rgba(0, 0, 0, 0.2);
}

[data-colors-mode="dark"] {
	--colors-overlays-default: rgba(0, 0, 0, 0.48);
}

[data-colors-mode="IC-light"] {
	--colors-overlays-default: rgba(0, 0, 0, 0.2);
}

[data-colors-mode="IC-dark"] {
	--colors-overlays-default: rgba(0, 0, 0, 0.48);
}
